.container{
    border: 1px solid black;
}

.form{
    
    display: flex;
    flex-direction: row;

    margin: 10px 0px;

    border-bottom: 1px solid black;

    padding: 5px;
    box-sizing: border-box;

    gap: 10px;
}

.form > input{
    flex: 4;
    height: 20px;
}

.form > button{
    flex: 1;
}


.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.item > p{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    user-select: none;

}

.item > span{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.2s;
    user-select: none;

}

.item > span:hover{
    color: red;
}